<main>
    <div class="">
        <h1 class="h2">About Software</h1>
        <hr />
        <div class="grid">
            <div class="row">
                <p>Quick POS. Vesion 1.0</p>
            </div>
            <div class="row">
                <p>Easy and Fast selling.Quick POS Developed for General Stores</p>
            </div>
            <div class="row">
                <p>Release Date. 26-04-2018</p>
            </div>
            <div class="row">
                <p>Terms. This software is licenced under QuickLinqs terms and condition. 1 month sale after service is free. After that service will be charged.</p>
            </div>
            <div class="row">

                <p>Software Deleloped By QuickLinqs. For more information please visit <a href="http://www.quicklinqs.com">QuickLinks.com</a> or call 03024759550</p>
            </div>
        </div>
        <hr />
    </div>
</main>

