<div class="grid">
    <h2>Profit Details</h2>
    <div class="row">
        <div class="card text-white bg-success col-5" style="margin-right:45px; ">
            <div class="card-header"><h3>Sale</h3></div>
            <div class="card-body">
                <p class="card-text">Today : <span id="SaleToday"></span></p>
                <p class="card-text">Month : <span id="SaleMonth"></span></p>
                <p class="card-text">Total : <span id="SaleTotal"></span></p>
            </div>
        </div>
      
        <div class="card text-white bg-danger col-5" style="margin-right:45px;">
            <div class="card-header"><h3>Expence</h3></div>
            <div class="card-body">
                <p class="card-text">Today : <span id="ExpenceToday"></span></p>
                <p class="card-text">Month : <span id="ExpenceMonth"></span></p>
                <p class="card-text">Total : <span id="ExpenceTotal"></span></p>
            </div>
        </div>
       </div>
    <hr />
    <div class="row">
        <div class="card text-white bg-dark col-12" style="margin-right:45px;">
            <div class="card-header"><h3>Profit</h3></div>
            <div class="card-body">
                <p class="card-text">Today : <span id="ProfitToday"></span></p>
                <p class="card-text">Month : <span id="ProfitMonth"></span></p>
                <p class="card-text">Total : <span id="ProfitTotal"></span></p>
            </div>
        </div>
     
    </div>
</div>


@section scripts{ 
    <script>
        $.ajax({
                url: '/api/mainapi/finance_account_getAll_sum_all_transactions',
                success: function (data) {
                    console.log("All Finance Accounts with amount sum");
                    console.log(data);
                    var IncomeToday = 0;
                    var IncomeMonth = 0;
                    var IncomeTotal = 0;
                    var ExpenceToday = 0;
                    var ExpenceMonth = 0;
                    var ExpenceTotal = 0;
                    for (var i = 0; i < data.length; i++) {
                        if (data[i]['name'] == "Product Sale") {
                            $("#SaleToday").text(-data[i]["today"]);
                            $("#SaleMonth").text(-data[i]["month"]);
                            $("#SaleTotal").text(-data[i]["total"]);
                            IncomeToday += data[i]["today"];
                            IncomeMonth += data[i]["month"];
                            IncomeTotal += data[i]["total"];
                        }
                        else if (data[i]['name'] == "Cost Of Good Sold") {

                            $("#PurchaseToday").text(data[i]["today"]);
                            $("#PurchaseMonth").text(data[i]["month"]);
                            $("#PurchaseTotal").text(data[i]["total"]);
                            ExpenceToday += data[i]["today"];
                            ExpenceMonth += data[i]["month"];
                            ExpenceTotal += data[i]["total"];
                        }
                    }
                    $("#ProfitToday").text(-(IncomeToday + ExpenceToday));
                    $("#ProfitMonth").text(-(IncomeMonth + ExpenceMonth));
                    $("#ProfitTotal").text(-(IncomeTotal + ExpenceTotal));
                }
            });
    </script>
}

